* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: DejaVu Sans;
}


.cabecalho{
    display: flex;
    flex-direction: row;
    margin: 20px 50px 35px 50px;
    justify-content: space-between;
}

.cabecalho_imagem{
    max-width: 100px;
    max-height: 100px;
    
} 

.cabecalho_menu{
    justify-content: space-around;
    display: flex;
    gap: 60px;
}

.cabecalho_menu_item{
    font-family: DejaVu Sans;
    font-size: 14px;
    padding-top: 5px;
    color: #82809c;
}

.cabecalho_login{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-right: 45px;
}

.cabecalho_login i{
    margin-right: 5px;
    font-size: 15px;
}

.cabecalho_login i.bx bx-user{
    transform: scaleX(-1);
}

.cabecalho_login a{
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 13px;
}

.cabecalho_login_botao{
    margin: auto;
    color: #2678fa;
    font-weight: 500;
    width: 100px;
    height: 26px;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #77a4ee;
    background-color: #ffffff;
}


.conteudo{
    margin-bottom: 120px;
}

.introducao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.introducao_imagem{
    width: 50%;
    margin-left: 90px;
}

.introducao_texto{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 0 200px 50px;
}

.introducao_texto_titulo{
    width: 50%;
    font-weight: bold;
    font-size: 36px;
    color: #5712a6;
}

.introducao_texto_subtitulo{
    font-size: 15px;
    color: #82809c;
    margin-top: 30px;
}

.introducao_texto_botao{
    color: #ffffff;
    font-weight: 600;
    width: 113px;
    height: 36px;
    border-radius: 6px;
    border: 0;
    background-image: linear-gradient(45deg, #7D21E8, #26E0FA 100%);
}


.introducao_texto_botao:hover{
    transform: scale(1.05);
}    

.linha_reta{
    text-align: center;
    margin: 80px;
}


.etapas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.etapas_titulo{
    text-align: center;
    margin: 40px;
    color: #5712a6;
    font-weight: normal;
}

.etapas_quadro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.etapas_quadro_imagem{
    width: auto;
}

.etapas_quadro_titulo{
    font-weight: normal;
    color: #5712a6;
    margin: 20px;
}

.etapas_quadro_subtitulo{
    font-size: 16px;
    color: #82809c;
    margin: 20px;
    text-align: center;
}

.descricao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.descricao_imagem{
    width: 50%;
}

.descricao_conteudo{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 150px;
}   

.descricao_conteudo_texto{
    font-weight: normal;
    font-size: 20px;
    color: #82809c;
}

.descricao_conteudo_link{
    color: #2678fa;
    font-weight: 600;
    margin-top: 50px;
}

.linha_reta_descricao{
    margin-bottom: 120px;
}

.safety{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 120px;
}

.safety_conteudo{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 600px;
    margin-left: 80px;
    text-align: left;
}

.linha_reta_safety{
    margin-bottom: 50px;
}

.safety_conteudo_titulo{
    font-weight: normal;
    font-size: 30px;
    color: #5712a6;
    margin-bottom: 80px;
    text-align: left;
}

.safety_conteudo_subtitulo{
    font-weight: normal;
    font-size: 20px;
    color: #82809c;

}

.safety_conteudo_subtitulo strong{
    font-weight: 600;
    color: #5712a6;
    position: relative;
}

.safety_conteudo_subtitulo strong::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: url('/imagens_recortadas/linha-reta-teste-programador.png.jpg');
    background-repeat: repeat-x;
    background-size: auto 100%;
    content:'';
}

.safety_conteudo_link{
    font-weight: normal;
    font-size: 20px;
    color: #2678fa;
    margin-top: 30px;
}

.safety_imagem{
    width: 45%;
}

.download{
    position: relative;
    width: 100%;
    max-width: 100%;
}

.download_imagem{
    width: 100%; 
    max-width: 100%;
    height: auto;
    display: block;   
}

.download_conteudo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
}

.download_titulo{
    position: absolute;
    top: 40%;
    left: 63%;
    transform: translate(-50%, -50%);
    color: #4d128f;
    font-weight: normal;
    font-size: 25px;
}

.download_button{
    position: absolute;
    top: 50%;
    left: 43%;
    width: 33%;
}

.download_linha_reta{
    position: absolute;
    top: 25%;
    left: 45%;
    width: 8%;
    height: 10px;
    filter: sepia(100%) saturate(0%) brightness(2.0);
}

.register{
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-around;
    margin-top: 120px;
}

.register_div{
    gap: 24px;
    text-align: left;
}

.register_div_titulo{
    font-weight: normal;
    font-size: 30px;
    color: #5712a6;
    margin-bottom: 80px;
}


.register_div_seta{
    float: right;
}

.footer_fundo{
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
}


.footer_conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: relative;
    color: #ffffff;
}

.footer1{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;
    padding: 100px;
}

.footer1 i{
    font-size: 30px;
    margin-right: 10px;
}

.footer1 i.bxs-comment {
    transform: scaleX(-1);
}

.footer1 p{
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 13px;
}


.footer1_div_logo{
    filter: brightness(0) invert(1);
    width: 70%;
}

.footer2{
    display: flex;
    gap: 30px;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    padding: 100px;
}


.footer3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left; 
    margin-right: 200px;
}

.footer3_div_titulo{
    font-weight: 500;
    margin-bottom: 20px;
}

.footer3_div_texto{
    font-size: 13px;
    margin-bottom: 10px;
}

.footer4 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left; 
}

.footer4_div_titulo{
    font-weight: 500;
    margin-bottom: 20px;
}

.footer4_div_texto{
    font-size: 13px;
    margin-bottom: 10px;
}

.footer5 {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 100px;
    margin-top: 400px;
    gap: 25px;
}

.footer5_conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer5_copyright{
    font-size: 13px;
}

.footer5 ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
}

.cabecalho_menu_mobile_toggle, .cabecalho_menu_mobile {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .cabecalho_menu_mobile_toggle {
        display: flex;
        flex-direction: row-reverse;
        align-items: self-start;
        justify-content: space-evenly;
    }


    .cabecalho_menu,
    .cabecalho_login {
        display: none;
    }

    .cabecalho_menu_mobile {
        display: flex;
        flex-direction: column;
    }

    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-family: DejaVu Sans;
    }
    
    .introducao {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        padding: 0;
        margin: 0;
    }

    .introducao_texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 50px;
    }

    .introducao_imagem {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 40px;
    }

    .introducao_texto_titulo {
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .introducao_texto_subtitulo {
        font-size: 15px;
        width: 100%;
        margin-bottom: 20px;
    }

    .linha_reta {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .linha_reta img{
        width: auto;
        height: auto;
        margin: auto;
    }

    .etapas_titulo {
        font-size: 20px;
        margin: auto;
        padding: 0;
        width: 100%;
        margin-top: 20px;
    }

    .etapas {
        display: flex;
        flex-direction: column;
        justify-content:center;
        padding: 0;
    }

    .etapas_quadro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .etapas_quadro_imagem {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .descricao {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0;
    }

    .descricao_imagem {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .descricao_conteudo {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .safety {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        margin-top: -500px;
        margin-bottom: 200px;
    }

    .safety_imagem {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .download_imagem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        position: relative;
        height: 300px;
        width: 100%;
    }

    .download_conteudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .download_titulo{
        position: absolute;
        font-weight: normal;
        font-size: 12px;
    }

    .register{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin-top: 100px;
    }

    .register_div{
        gap: 10px;
        margin: 15px;
        margin-bottom: 100px;
    }

    .register_div_titulo{
        font-size: 20px;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .register_div_linha_reta{
        width: 71%;
        margin-top: 30px;
    }

    .register_div_seta{
        width: 25%;
    }


    .footer_fundo img{
        position: absolute;
        background-size: cover;
        background-position: center bottom;
        background-attachment: fixed;
    }

    .footer_conteudo{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .footer1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }

    .footer2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        margin-top: 30px;
    }


}
  









